<div class="timeline-item">
  <div class="timeline-marker <%= 'active' if active %>"></div>
  <div class="timeline-content <%= 'active' if active %>">
    <div class="timeline-period"><%= experience[:period] %></div>
    <h3 class="timeline-title"><%= experience[:title] %></h3>
    <p class="timeline-location">
      <i class="fa-solid fa-building"></i>
      <%= experience[:company] %>
    </p>
    <p class="timeline-description">
      <%= experience[:description] %>
    </p>
    <% if experience[:tags].present? %>
      <div class="timeline-tags">
        <% experience[:tags].each do |tag| %>
          <span class="tag"><%= tag %></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
